{% extends "compare/base.html" %}
{% block content %}

        <h3> Accept/Decline Submitted Problem Specifications:</h3>
        <br>
        <h4>Pending Problem Specifications:</h4>
        <p class="text-muted"> Note: When declining problem specifications, they will appear in the 'archived' section.</p>
        <br><br><br>

    {% for data in datasets %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ data.author }}</a>
              <small class="text-muted">{{ data.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="compare/information.html">{{ data.title }}</a></h2>
            <p class="article-content">{{ data.content }}</p>
          </div>
        </article>
        <!-- Will add buttons (Accept/Decline) -->
    {% endfor %}

      <hr class="solid">
      <h4> Archived Problem Specifications:  (can also change this to a button) </h4>
      <br>
      {% for data in datasets %}

      <!-- This will contain archived problem specifications if the host chooses to decline one of them, user will get a notification if their problem specification is declined -->

      {% endfor %}

{% endblock content %}